<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppSecret</key>
	<string>6d2dd4b0-f89a-481d-b6c2-41f93103c789</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Vua Dụng Cụ</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb383721547615245</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.478399974721-ad0p8kgims7844lh6g67fep56b27eq1i</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>vdcapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vdcapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.132117229363-09fnd22rva1ro27l3dln9iavt0kchjr2</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>bsBeF_TYxrC7qI8pZQZKs-RcH_YYLbhmhjF_S</string>
	<key>FacebookAppID</key>
	<string>383721547615245</string>
	<key>FacebookClientToken</key>
	<string>69e6ad5cd82db00f4197427265d8428d</string>
	<key>FacebookDisplayName</key>
	<string>VuaDungCuApp</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>itms-apps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Ứng dụng không truy cập dữ liệu Apple Music của người dùng.</string>
	<key>NSCameraUsageDescription</key>
	<string>Để chup ảnh, quay video hoặc quét mã QR, hãy cho phép Vua Dụng Cụ truy cập vào camera của bạn.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Vua dụng cụ muốn sử dụng vị trí của bạn để tạo địa chỉ giao hàng trong ứng dụng.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Vua dụng cụ muốn sử dụng vị trí của bạn để tạo địa chỉ giao hàng trong ứng dụng.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Vua dụng cụ muốn sử dụng vị trí của bạn để tạo địa chỉ giao hàng trong ứng dụng.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Để sử dụng tính năng tìm kiếm bằng giọng nói, hãy cho phép Vua Dụng Cụ truy cập vào microphone của bạn.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Vua Dụng Cụ cần quyền truy cập vào thư viện hình ảnh của bạn để tiếp tục sử dụng chức năng Cập nhật ảnh đại diện, Nhắn tin.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Để sử dụng tính năng tìm kiếm bằng giọng nói, hãy cho phép Vua Dụng Cụ bật tính năng nhận dạng giọng nói.</string>
	<key>UIAppFonts</key>
	<array>
		<string>fontello.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
